.navbar {
  width: 100%;
  height: 8rem;
  padding: 0 5rem;
  background-color: #ccc;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 1rem;
}

.navbar_name h1 {
  font-size: 4rem;
  color: darkblue;
  text-shadow: 0 0 5px darkblue;
  font-family: sans-serif;
  text-transform: uppercase;
}

.navbar_name h1 span {
  position: relative;
  left: -7rem;
  display: block;
  transform: scale(0.3);
  line-height: 5px;
  padding-left: 0;
  letter-spacing: 0.5rem;
  color: aqua;
  text-shadow: 0 0 5px aqua;
}

.navbar_list ul {
  display: flex;
  gap: 2rem;
}

.navbar_list ul li {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  font-family: sans-serif;
  cursor: pointer;
}

.navbar_list ul li::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0.4rem;
  background-color: orange;
  bottom: -5px;
  transition: 0.5s;
  border-radius: 5px;
}

.navbar_list ul li:hover::before {
  width: 100%;
}

.navbar_list a {
  text-decoration: none;
  color: #000;
}

select {
  background-color: gold;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 5rem; */
}

.navbar h2 {
  position: absolute;
  right: 5rem;
  color: #8a1e2f;
}
