.HSideleft {
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.HSideleft button {
  background-color: antiquewhite;
  border: none;
  padding: 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
  transition: 0.5s;
}

.HSideleft button:nth-child(1) {
  margin-bottom: 1.5rem;
  border-top-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  margin-left: 0.3rem;
}

.HSideleft button:nth-child(1):active {
  transform: scale(0.95);
  background-color: green;
}

.HSideleft button:nth-child(2) {
  margin-bottom: 1.5rem;
  border-top-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  margin-left: 1rem;
}

.HSideleft button:nth-child(2):active {
  transform: scale(0.95);
  background-color: orange;
}

.active {
  width: 8rem;
  height: 4rem;
  border-radius: 0.3rem;
}
.HSideleft button.active:active {
  transform: scale(0.95);
  background-color: rgb(18, 29, 237);
}
.HMain {
  width: 70%;
}

.Main_input {
  font-size: 2rem;
  border: none;
  border-bottom: #656565 solid 2px;
  outline: none;
  background-color: #fff;
  color: #000;
}

.tun {
  font-size: 2rem;
  border: none;
  border-bottom: #656565 solid 2px;
  outline: none;
  background-color: #000;
  color: #fff;
}

.Text {
  font-size: 2rem;
  line-height: 150%;
}

.correctText {
  color: green;
}

.Modalcontainer {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.Modal_par {
  font-size: 1.8rem;
}

.Modal {
  background: #656565;
  height: 400px;
  width: 300px;
  margin-top: 1.2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 15px #202020aa;
}

.Result {
  background: #0e0eff;
  height: 10rem;
  padding: 1rem;
  border-radius: 0.8rem;
}
