.HSideleft {
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.HSideleft button {
  background-color: antiquewhite;
  border: none;
  padding: 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
  transition: 0.5s;
}

.HSideleft button:nth-child(1) {
  margin-bottom: 1.5rem;
  border-top-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  margin-left: 0.3rem;
}

.HSideleft button:nth-child(1):active {
  transform: scale(0.95);
  background-color: green;
}

.HSideleft button:nth-child(2) {
  margin-bottom: 1.5rem;
  border-top-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  margin-left: 1rem;
}

.HSideleft button:nth-child(2):active {
  transform: scale(0.95);
  background-color: orange;
}

.active {
  width: 8rem;
  height: 4rem;
  border-radius: 0.3rem;
}
.HSideleft button.active:active {
  transform: scale(0.95);
  background-color: rgb(18, 29, 237);
}
.HMain {
  width: 75%;
  margin: 3rem;
}

.Main_input {
  margin-bottom: 2rem;
  font-size: 2rem;
  border: none;
  border-bottom: black solid 3px;
  outline: none;
}

.Text {
  font-size: 1.8rem;
  line-height: 150%;
  color: #aaa;
}

.tun {
  font-size: 2rem;
  border: none;
  border-bottom: #656565 solid 3px;
  outline: none;
  background-color: #000;
  color: #fff;
}

.correctText {
  color: green;
}

.Modalcontainer {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.Modal_par {
  font-size: 2rem;
}

.Modal {
  background: #eee;
  width: 300px;
  padding: 1rem;
  margin-top: 1.2rem;
  border-radius: 0.8rem;
  box-shadow: 0 1rem 2rem #eeadc6aa;
}

.Result {
  background: #fa4688;
  box-shadow: 0 1rem 2rem #f75e98aa;
  height: 10rem;
  padding: 1rem;
  border-radius: 0.8rem;
}
.Ortga {
  width: 100%;
  height: 3rem;
  margin: 2rem 0 0 0;
  font-size: 20px;
  background: #33578f;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.5s;
}
