.result_table {
  position: fixed;
  top: 10rem;
  padding: 4rem 14rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.result_table table {
  box-sizing: border-box;
  border-collapse: collapse;
  width: 100%;
  color: black;
}
.result_table table,
th,
td {
  padding: 0 7rem;
  border-bottom: 1px solid #aaa;
}
.result_table table th {
  font-size: 1.8rem;
  height: 3rem;
}
.result_table table td {
  height: 4rem;
}
.result_table thead {
  display: table-header-group;
  vertical-align: middle;
  color: rgb(131, 130, 130);
}
.result_table table td,
th {
  vertical-align: middle;
  font-size: 1.6rem;
  line-height: 1.1rem;
  font-weight: bold;
}
.result_table h2 {
  margin-bottom: 4rem;
}
